[Unit]
Description=Nvidia fan control systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /home/wotikama/nvidiafan.sh

[Install]
WantedBy=multi-user.target

